#header
{
    margin-left: 5%;
    margin-top: 5%;
}

#contenuto1
{
 color:black ;
 font-size: large;
 margin-left: 5%;
}

.nav-contenitore
{
    display: flex;
    flex-direction: row;
    background-color: orangered;
    flex-wrap: wrap;
}
.nav-items
{
    justify-content:flex-start;
    background-color: orangered;
    width: 110%;
    margin: 5%;
    text-align: center;
    font-size: 120%;
}

