#header
{
    margin-left: 5%;
    margin-top: 5%;
}

#contenuto1
{
 color:black ;
 font-size: large;
 margin-left: 5%;
}

.container
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: orangered;
margin: 5%;
justify-content: center;
}

 .nav-items
{
 color: white;
 justify-items: center;
 margin: 5px;
 font-size: 20px;

}